<!DOCTYPE html>

<html>
    <head>
        <link rel='stylesheet' href='/css/styles.css'>
        <title>About | Taki Ishimura</title>
    </head>

    <body>
        {{>header}}
        <div class='main-content'>
            <h1>About</h1>
            <p>
                <img src="/img/profile.JPG" class='portrait' align='left'>
                I'm Taki, a student at the University of Pennsylvania studying computer science. 
                I dabble in all areas from full-stack to machine learning. What's my favorite? Couldn't tell ya.
                What's my least favorite? Most definetly Apache Hadoop Mapreduce.
            </p>
            <p>
                I was born in Japan, but was raised in the woods of Maine. Sometime, when the war is fought and done, I'll buy 
                a nice cottage in Bar Harbor and settle down for the autumn years. That's the dream.
            </p>
            <p>
                At Penn I'm a TA for cis160 and a member of JSA. In my free time, I like to read. This is only vacuously true.
                I actually can't read that well.
            </p>
        </div>
        {{>footer}}
    </body>
</html>