<!DOCTYPE html>

<html>
    <head>
        <link rel='stylesheet' href='/css/styles.css'>
        <title>About | Taki Ishimura</title>
    </head>

    <body>
        {{>header}}
        <div class='main-content'>
            <h1>About</h1>
            <p>
                <img src="/img/profile.jpg" class='portrait' align='left'>
                I'm Taki, a student at the University of Pennsylvania studing computer science. 
                Through the process of building this website, I've discovered that computer science is not my passion.
            </p>
            <p>
                BIO: <br>
                Born in Fukuoka, Japan, but the MDI is my home.
            </p>
            <p>
                AWARDS: <br>
                MDIHS student of the month for October, 2017.
            </p>
        </div>
        {{>footer}}
    </body>
</html>