<!DOCTYPE html>

<html>
    <head>
        <title>404 | Taki Ishimura</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <div class='main-content'>
            <h3>404</h3><p>This page could not found</p>
        </div>
        {{>footer}}
    </body>
</html>