<!DOCTYPE html>

<html>
    <head>
        <link rel='stylesheet' href='/css/styles.css'>
        <title>Resume | Taki Ishimura</title>
    </head>

    <body>
        {{>header}}
        <div class='main-content'>
            <h1>Resume</h1>
        </div>
        {{>footer}}
    </body>
</html>