@import url(https://db.onlinewebfonts.com/c/cc1fd3ac8497388cfc4da587e06951b0?family=SQ+Market+Regular+Regular);

body {
    font-family: "SQ Market Regular Regular", "Helvetica Neue", sans-serif;
    padding-top: 10px;
    padding-left: 17%;
    padding-right: 17%;
}

header {
    display: flex;
    align-items: baseline;
    border-bottom: 2px solid #555555;
}

header>h4 {
    padding-left: 10px;
}

header>h4>a {
    color: black;
    text-decoration: none;
}

header>h4>a:hover {
    font-size: larger;
    color: #90EE90;
    transition: .5s ease;
}

.headerItem {
    padding-left: 2em;
}

.project-card {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 125%;
    display: grid;
    align-items: top;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

img {
    max-width: 100%;
    opacity: 0.75;
    transition: .5s ease;
    border: #ADD8E6 4px solid;
}

img:hover {
    opacity: 1.0;
    max-width: 102%;
    transition: .5s ease;
    border: #90EE90 4px solid;
}