<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h1>
        <a href='/' id='name'>Takanao Ishimura</a>
    </h1>
    <div id='menu'>
        <a href='/'>Projects</a>
        <a href='/resume'>Resume</a>
        <a href='/about'>About</a>
        <a href='https://github.com/ishimurataki' target="_blank">
            <i class="fa fa-github" style="font-size:30px"></i>
        </a>
        <a href='https://www.linkedin.com/in/takanao-ishimura-4988a9177/' target="_blank">
            <i class="fa fa-linkedin" style="font-size:30px"></i>
        </a>
        <a href="mailto: ishimurataki@gmail.com"><i class="fa fa-envelope" style="font-size:30px"></i></a>
    </div>
    <br>
</header>